{% block rich_image_widget %}
    {% include 'nacholibreRichImageBundle::styles.html.twig' %}

    <div class='main_sortable_images'>
        <div style='display:none;'>
            {{ block('choice_widget') }}
        </div>
        <div id="sortable" data-name='{{ form.vars.name }}'>
            {% include 'nacholibreRichImageBundle::show_image.html.twig' with {images: form.vars.data} %}
        </div>
        <div class='rich_image_thumb upload'>
            <input type="file" name="images" class='imageUploader' id='image_uploader' multiple>
            <div class='selectImages text-center'>
                <span class='addI'>+</span>
                <div class='slog'>
                {{ 'add_images' | trans }}
                </div>
            </div>
        </div>
    </div>

    {% include 'nacholibreRichImageBundle::scripts.html.twig' %}
{% endblock %}
